@{
    ViewData["Title"] = "Cadastro";
}

<div class='container-cadastro'>
	<div class='card'>
		<h1> Cadastrar </h1>

		<div id='msgError'></div>
		<div id='msgSuccess'></div>

		<div class="label-float">
			<input type="text" id="email" placeholder="seuemail@email.com " required>
			<label id="labelemail" for="email">E-mail</label>
			<i id="email" class="fa fa-eye" aria-hidden="true"></i>
		</div>

		<div class="label-float">
			<input type="text" id="nome" placeholder="Nome completo" required>
			<label id="labelNome" for="nome">Nome</label>
		</div>

		<div class="label-float">
			<input type="text" id="usuario" placeholder="Nome de usuario" required>
			<label id="labelUsuario" for="usuario">Usuário</label>
		</div>

		<div class="label-float">
			<input type="password" id="senha" placeholder="******"  required>
			<label id="labelSenha" for="senha">Senha</label>
			<i id="verSenha" class="fa fa-eye" aria-hidden="true"></i>
		</div>
		<div class="label-float">

		<div class="label-float">
			<input type="password" id="confirmSenha" placeholder="******" required>
			<label id="labelConfirmSenha" for="confirmSenha">Confirmar Senha</label>
			<i id="verConfirmSenha" class="fa fa-eye" aria-hidden="true"></i>
		</div>

		<div class='justify-center'>
			<button class="btn btn-secondary btn-lg btn-block" onclick='cadastrar()'>Cadastrar</button>
		</div>


	</div>
</div>

