@{
    ViewData["Title"] = "Login";
}

<div classname="AppLogin">
    <main>
        <div class="container-login">
            <div class="card">
                <h1> Entrar </h1>

                <div id="msgError"></div>

                <div class="label-float">
                    <input type="text" id="usuario" paceholder="Nome de usuario" required>
                    <label id="userLabel" for="usuario">Usuario</label>
                </div>

                <div class="label-float">
                    <input type="password" id="senha" paceholder="******" required>
                    <label id="senhaLabel" for="senha">Senha</label>
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </div>
                <button class="btn btn-secondary btn-lg btn-block" onclick="entrar()">Entrar</button>
            </div>

            <div class="justify-center">
            </div>

        </div>
</div>
        </main>

</div>
