@using Microsoft.Extensions.Options
@inject IOptions<TremBaum.Data.StripeSettings> Stripe


@{
    Layout = "_Layout";
}

<div class="text-center">
    <form asp-action="Processing" asp-controller="Checkout" method="post">
        <article>
            <label> Valor R$ @Math.Round(ViewBag.ReaisAmount, 2)</label>
        </article>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="@Stripe.Value.PublishableKey"
            data-amount="@ViewBag.Total"
            data-name="Trem Baum"
            data-description="Pagamento de produtos"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="br"
            data-zip-code="true">

        </script>
    </form>
</div>

